body {
  background-color: #ee3f54;
}
h1, h2, h3, h4, h5, h6, button {
  font-family: 'Courgette', cursive;
}
#logo-container .callout {
  background-color: #ee3f54;
  color: white;
  margin: 0;
}
#social-container {
  background-color: #1c3643;
  font-size: 2em;
}
#menu-container {
  background-color: #48a19d;
  overflow: hidden;
}
#menu-container li a { 
  color: white;
  font-family: 'Courgette', cursive;
}
#menu-container li a:hover{ 
  color: #f6e15f;
}
#submenu-container {
  border: 0;
}
#submenu-container li a {
  background-color: #48a19d;
  color: white;
}
#submenu-container li a:hover {
  color: #f6e15f;
}
#tickets-action .callout {
  background-color: #5e7eb7;
  color: white;
  margin-bottom: 0;
}
#tickets-action .callout button {
  border: 1px solid white;
  color: white;
  font-size: 2em;
}
#lineup-container {
  padding: 1em 0;
}
#lineup-container, #lineup-container .tabs, #lineup-container .tabs .tabs-title, #lineup-container .tabs .tabs-title.is-active a,  #lineup-container .tabs-panel {
  background-color: #9676af;
  border: 0;
  color: white;
  font-family: 'Courgette', cursive;
}
#lineup-container .tabs .tabs-title a {
  color: #a7fffb;
  font-size: 18px;
}
#lineup-container .tabs .tabs-title a:hover {
  background-color: #9676af;
  color: white;
}
.tabs-title {
  display: inline-block;
  float: none;
}
.tabs-content {
  border: 0;
}
#lineup-container .orbit-container {
  margin-bottom: 1em;
}
#lineup-container .column:nth-child(odd) figcaption {
  text-align: right;
}
.slides-container {
  list-style: none;
  margin: 0 0 1em 0;
  width: 100%;
}
#tickets-container {
  background-color: #f6e15f;
  color: #161742;
  padding: 1em 0;
}
.pricing-table {
  border: 1px solid #161742;  
  font-family: 'Acme', sans-serif;
}
.pricing-table li, .pricing-table li.description, .pricing-table a.button {
  font-size: 1em;
}
.pricing-table li.price, .pricing-table li.title {
  font-size: 1.3em;
}
#info-container {
  background-color: #161742;
  color: white;
  padding: 1em 0;
}
#info-container .info-map iframe {
  width: 100%;
}
.subscribe-container {
  background-color: #ee3f54;
  color: white;
  padding: 1em 0;
}
.subscribe-container h4 small {
  color: #ffcddc;
}
.subscribe-container .error-container, input[type="submit"] {
  font-family: "Acme", sans-serif;
}